Automatic Garage  Door Opener/Node Red and Web UI/Final Project Workflow.json
[{"id":"33a38462.70497c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"de94e397.dfa7f","type":"ibmiot out","z":"33a38462.70497c","authentication":"apiKey","apiKey":"1b6b769.c0c4189","outputType":"cmd","deviceId":"123","deviceType":"First_Device","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1200,"y":500,"wires":[]},{"id":"dfe28328.8fefd","type":"http in","z":"33a38462.70497c","name":"","url":"/light_data","method":"get","upload":false,"swaggerDoc":"","x":740,"y":600,"wires":[["ea2d4bd6.cc2a78","de94e397.dfa7f"]]},{"id":"ea2d4bd6.cc2a78","type":"http response","z":"33a38462.70497c","name":"","statusCode":"","headers":{},"x":1190,"y":640,"wires":[]},{"id":"5b7d2f6d.d37b","type":"http in","z":"33a38462.70497c","name":"","url":"/door_data","method":"get","upload":false,"swaggerDoc":"","x":740,"y":660,"wires":[["ea2d4bd6.cc2a78","de94e397.dfa7f"]]},{"id":"55868cef.809744","type":"ui_button","z":"33a38462.70497c","name":"","group":"a0638442.8357d8","order":4,"width":9,"height":1,"passthru":false,"label":"Light On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light On","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":420,"wires":[["6ab74751.624428"]]},{"id":"258787a.3786778","type":"ui_button","z":"33a38462.70497c","name":"","group":"a0638442.8357d8","order":5,"width":9,"height":1,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light On","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":480,"wires":[["599f3165.2849"]]},{"id":"6172ab9c.975884","type":"ui_button","z":"33a38462.70497c","name":"","group":"a0638442.8357d8","order":8,"width":9,"height":1,"passthru":false,"label":"Door Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light On","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":840,"wires":[["3ce4b621.5b5b1a"]]},{"id":"bcf08872.aa4928","type":"ui_button","z":"33a38462.70497c","name":"","group":"a0638442.8357d8","order":9,"width":9,"height":1,"passthru":false,"label":"Door Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light On","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":760,"wires":[["e3de09ed.2b4db8"]]},{"id":"6ab74751.624428","type":"function","z":"33a38462.70497c","name":"","func":"msg.payload={'command':'Light is On'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["de94e397.dfa7f"]]},{"id":"599f3165.2849","type":"function","z":"33a38462.70497c","name":"","func":"msg.payload={'command':'Light is Off'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":480,"wires":[["de94e397.dfa7f"]]},{"id":"e3de09ed.2b4db8","type":"function","z":"33a38462.70497c","name":"","func":"msg.payload={'command':'Door is Open'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":760,"wires":[["3cc25f58.4680c","de94e397.dfa7f"]]},{"id":"3ce4b621.5b5b1a","type":"function","z":"33a38462.70497c","name":"","func":"msg.payload={'command':'Door is Closed'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":840,"wires":[["3698d887.0d7af8","de94e397.dfa7f"]]},{"id":"3cc25f58.4680c","type":"delay","z":"33a38462.70497c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":660,"wires":[["6ab74751.624428"]]},{"id":"3698d887.0d7af8","type":"delay","z":"33a38462.70497c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":600,"wires":[["599f3165.2849"]]},{"id":"a3ca0c2a.121b4","type":"ibmiot in","z":"33a38462.70497c","authentication":"apiKey","apiKey":"1b6b769.c0c4189","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"First_Device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":430,"y":160,"wires":[["306a3354.9ad7ec"]]},{"id":"7f77c717.825418","type":"http request","z":"33a38462.70497c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://c6a728a6-a633-4d59-a8e9-c06a612f8176-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":300,"wires":[["4b36d52f.cba9cc"]]},{"id":"4b36d52f.cba9cc","type":"function","z":"33a38462.70497c","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":300,"wires":[["d07462c6.d4635"]]},{"id":"f8108598.ab0a98","type":"ui_button","z":"33a38462.70497c","name":"","group":"a0638442.8357d8","order":2,"width":0,"height":0,"passthru":false,"label":"GET IMAGE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":220,"wires":[["7f77c717.825418"]]},{"id":"d07462c6.d4635","type":"ui_template","z":"33a38462.70497c","group":"a0638442.8357d8","name":"","order":1,"width":18,"height":7,"format":"<img src=\"{{msg.payload}}\" width=\"300\" height=\"300\" >","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1020,"y":280,"wires":[[]]},{"id":"306a3354.9ad7ec","type":"function","z":"33a38462.70497c","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":220,"wires":[["8f8098e.97c2068"]]},{"id":"8f8098e.97c2068","type":"debug","z":"33a38462.70497c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":220,"wires":[]},{"id":"1b6b769.c0c4189","type":"ibmiot","name":"First Assignment","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a0638442.8357d8","type":"ui_group","name":"Automatic Garage Opener","tab":"44b2910d.2cda1","order":4,"disp":true,"width":18,"collapse":false},{"id":"44b2910d.2cda1","type":"ui_tab","name":"FInal Project","icon":"dashboard","order":2,"disabled":false,"hidden":false}]